<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Hello World</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>h1. 排版-标题
        <small>Secondary text</small>
    </h1>
    <h2>h2. Bootstrap heading
        <small>Secondary text</small>
    </h2>
    <h3>h3. Bootstrap heading
        <small>Secondary text</small>
    </h3>
    <h4>h4. Bootstrap heading
        <small>Secondary text</small>
    </h4>
    <h5>h5. Bootstrap heading
        <small>Secondary text</small>
    </h5>
    <h6>h6. Bootstrap heading
        <small>Secondary text</small>
    </h6>
    <h1>ppppppppppppppppppppppp</h1>
    <p>
        Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </p>
    <p class="lead">
        Cum sociis pnatoque penatibus et magnis dis parturient montes,
    </p>
    <p>
        nascetur ridiculus mus. Donec
        ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat
        porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor
        fringilla.
    </p>
    <p>
        Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta
        gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit.
    </p>

    <p class="text-left">Left aligned text.</p>
    <p class="text-center">Center aligned text.</p>
    <p class="text-right"> Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
        elit non mi porta
        gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit.</p>
    <p class="text-justify"> Maecenas sed diam eget risus varius blandit sit amet non magna. Donec
        id elit non mi porta
        gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit.</p>
    <p class="text-nowrap"> Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
        elit non mi porta
        gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit.</p>
    <p class="text-lowercase">Lowercased text.</p>
    <p class="text-uppercase">Uppercased text.</p>
    <p class="text-capitalize">Capitalized text.</p>
    <code>
        public static void main(String[] args){<br>
            System.out.println("Hello World!!");<br>
        }<br>
    </code>
</div>
</body>
</html>